.block-container {
  @include flex-center("true", "false", "true", 33%);
  gap: $space-8;
}

.block-defined,
.block-support,
.block {
  border: solid rem(1) $secondary;
  padding: 0 $space-12;
  text-align: center;
  height: rem(40);
  min-width: $space-48;
  @include flex-center("true", "true");
}

.block-defined,
.block-support {
  min-width: rem(80);
}

.block-defined {
  max-width: 20%;
}

.block-support {
  background: lighten($black, 72%);
  border-color: lighten($black, 64%);
}

.block {
  min-width: $space-48;
}

.name,
.size,
.str,
.dex,
.con,
.int,
.wis,
.cha,
.armor,
.fortitude,
.reflex,
.will,
.bab,
.hit-points,
.skill,
.speed {

  .block-defined,
  .block-support,
  .block,
  .btn {
    margin-top: $space-16;
  }

}

.str,
.dex,
.con,
.int,
.wis,
.cha,
.fortitude,
.reflex,
.will,
.skill {

  .block {
    max-width: $space-48;
  }

}

// storage
.character-storage-container {
  color: $white;
}

.character-storage-item {
  @include flex-center("true", "true", "true");
  padding-bottom: $space-8;
}

.character-storage-remove,
.character-storage-load {
  margin-right: $space-8;
  max-width: $space-40;
  @include shadow(1, 0, black);
}

.character-storage-name {
  @extend %black-letter;
  font-family: $serif;
  font-size: rem(14);
  font-weight: 700;
  @include shadow(0, 1, black);
}

.character-storage-empty {
  text-align: center;
}
