[class*="btn"] {
  outline: dashed rem(1) transparent;
  outline-offset: rem(-4);

  &:focus {
    outline-color: $highlight;
  }

}

.btn,
.btn-icon,
.btn-hero {
  @extend %black-letter;
  font-size: rem(12);
  font-weight: 700;
  text-align: center;
  line-height: rem(36); // -4px for top/bot borders
  height: $space-40;
  position: relative;
}

.btn,
.btn-icon {

  &:focus,
  &:hover {
    @include shadow(1, 0, black);
  }

}

.btn {
  display: inline-block;
  padding: 0 $space-24;
}

.btn-primary {
  background: $highlight;
  border: solid rem(2) $primary;
  color: $primary;

  &:focus,
  &:hover {
    background: lighten($highlight, 16%);
  }

}

.btn-secondary {
  background: transparent;
  border: solid rem(2) $highlight;
  color: $highlight;

  &:focus,
  &:hover {
    color: lighten($highlight, 16%);
    border-color: lighten($highlight, 16%);
  }

}

.btn-hero {
  @extend %black-letter;
  background: rgba(black, .24);
  border: solid rem(2) $highlight;
  color: $highlight;
  font-size: rem(14);
  font-weight: 700;
  padding: 0 $space-24;
  line-height: rem(36); // -4px for top/bot borders
  position: relative;
  @include shadow(1, 0, black);

  &:focus,
  &:hover {
    background: $highlight;
    color: $primary;
  }

}

.btn-small {
  font-size: rem(10);
  line-height: rem(28); // -4px for top/bot borders
  height: $space-32;
}

.btn-icon {
  @include flex-center("true", "true", "true");
  width: $space-40;
}

.btn-with-icon {
  @include flex-center("true", "true", "false");

  .material-icons {
    font-size: rem(18);
    padding-right: $space-4;
  }

}
