@font-face {
  font-family: "AI-Titles-Bold";
  src: url("../fonts/AI-Titles-Bold.ttf") format("truetype");
  font-display: fallback;
}

// headings
// -----------------------------------------------------------------------------
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  @extend %black-letter;
  font-weight: 700;
  line-height: 1;
}

.heading-1 { font-family: $serif; font-size: rem(40) }
.heading-2 { font-family: $serif; font-size: rem(32) }
.heading-3 { font-size: rem(24) }
.heading-4 { font-size: rem(16) }
.heading-5 { font-size: rem(12) }
.heading-6 { font-size: rem(8) }

// links
// -----------------------------------------------------------------------------
a[class=""],
.link-utility {
  color: $orange-tint;
  font-weight: 700;

  &:focus,
  &:hover {
    color: $orange;
    text-decoration: none;
  }

  &:visited {
    color: $orange-white;
  }

}

a[class=""] {
  text-decoration: underline;

  &:focus,
  &:hover {
    text-decoration: none;
  }

}

// screen reader text
// -----------------------------------------------------------------------------
[data-srt="true"] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  margin: rem(-1);
  padding: 0;
  word-wrap: normal;
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  position: absolute;
}
