.tabs-container {
  @include flex-center("true", "true", "true", 50%);
}

.tab {
  @extend %black-letter;
  background-color: $secondary;
  // background-image: url('../images/textures/texture-mud.jpg');
  background-size: cover;
  border-top: solid rem(2) $secondary;
  font-size: rem(12);
  font-weight: 700;
  padding: 0 $space-16;
  line-height: 1.25;
  height: $space-48;
  @include shadow(1, 0, black);

  &:focus,
  &:hover {
    border-color: lighten($highlight, 16%);
  }

  &[tab-active] {
    border-color: $highlight;
    color: $highlight;
  }

}

//
[tabs-type="caster-lvls"],
[tabs-type="alphabet"] {
  @include flex-center("true", "false", "true", 16.6667%);
  flex-wrap: wrap;
  margin: $space-16 0;

  .tab {
    max-width: 16.6667%;
  }

}
