.initiative {
  background: rgba(black, .24);
  padding: 8vh 8vw calc(8vh + #{$space-16}) 8vw;
  @include shadow(1, 0, black);

  // media
  @include media($mq-tablet-up) {
    display: flex;
    gap: $space-8;
    justify-content: center;
  }

  .init-calc {
    margin-top: $space-16;
  }

}


.init-info,
.init-roll {
  @include flex-center("true", "true");
}

.init-roll-name {
  @include flex-center("false", "false", "true", 100%);
  gap: $space-8;

  .input-field-container:nth-child(1) {
    max-width: $space-72;
  }

  .input-field-container:nth-child(2) {
    width: 24vw;
  }

}

.init-add {

  // media
  @include media($mq-mobile) {
    width: 100%;
  }

}

.initiative-order {
  padding-top: $space-12;
}

.init-block {
  margin-bottom: $space-8;
  @include shadow(1, 0, black);
}

.init-name {
  background: rgba(black, .24);
  padding: $space-8 $space-16;
  width: 100%;
}

 .init-roll {
  // @include flex-center("true", "true", "false");
  @extend %black-letter;
  border: solid rem(2);
  font-size: rem(12);
  font-weight: 700;
  padding: 0 $space-16;
  height: $space-40;
  width: $space-40;
}

.init-name {
  text-transform: capitalize;
}
