.spell-container {
  background: $secondary;
  font-size: rem(14);
  padding: $space-16 $space-24;
  @include shadow(1, 0, black);

  // media
  @include media($mq-tablet-up) {
    display: grid;
    grid-gap: $space-4;
    grid-template-areas:
      "name name name name details"
      "school school level level level"
      "casting casting component component component"
      "range range time time time"
      "saving saving resist resist resist"
      "descript descript descript descript descript"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  ~ .spell-container {
    margin-top: $space-16;
  }

}

.spell-info {
  padding: $space-4 0;
}

.spell-name {
  color: $highlight;
  grid-area: name;
  vertical-align: baseline;
}

.spell-school { grid-area: school; }

.spell-level { grid-area: level; }

.spell-casting { grid-area: casting; }

.spell-component { grid-area: component; }

.spell-range { grid-area: range; }

.spell-duration { grid-area: time; }

.spell-saving { grid-area: saving; }

.spell-resist { grid-area: resist; }

.spell-descript {
  border-top: solid rem(1) $primary;
  grid-area: descript;
  margin-top: $space-4;
  padding-top: $space-8;
}

.spell-details {
  grid-area: details;
  position: relative;

  .link-utility {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

}
