.theme-container {
  display: flex;
  gap: $space-4;
  padding: 0 $space-24 0 $space-24;
}

.theme-link {
  border: solid rem(1) $secondary;
  opacity: .64;
  height: rem(38); // +2 from border
  width: rem(38); // +2 from border
  @include shadow(1, 0, black);

  &.blue { background-color: $blue; }
  &.green { background-color: $green; }
  &.orange { background-color: $orange; }
  &.purple { background-color: $purple; }
  &.red { background-color: $red; }

  &[theme-active="true"] {
    border-color: $white;
    opacity: 1;
  }

}

[site-theme="blue"] {

  .logo {
    filter: hue-rotate(180deg);
  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link {

    &:focus {
      outline-color: $blue;
    }

    &[aria-current] {
      color: $blue;
    }

  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link,
  a[class=""],
  .link-utility {

    &:focus,
    &:hover {
      color: lighten($blue, 16%);
    }

  }

  .nav-utility-dm {

    &[data-mode="enabled"] {
      background: $blue;
    }

  }

  .header-menu,
  .nav-utility-link,
  .block-defined,
  .card-title,
  .dice-result,
  .hero-title,
  .panel-nav-count,
  .monster-subplate,
  .init-roll,
  .spell-name,
  a[class=""],
  .link-utility {
    color: $blue;
  }

  .character-storage-name,
  .footer {
    color: lighten($blue, 16%);
  }

  .panel-nav-tab,
  .tab {

    &:focus,
    &:hover {
      border-color: lighten($blue, 16%);
    }

    &[aria-selected="true"],
    &[tab-active] {
      border-color: $blue;
      color: $blue;
    }

  }

  [card-type="showcase"] {
    border-top-color: $blue;
  }

  .monster-stats-container {

    strong {
      color: lighten($blue, 16%);
    }

  }

  .monster-xp {
    background: $blue;
  }

  .init-roll {
    border-color: $blue;
  }

  [class*="btn"] {

    &:focus {
      outline-color: $blue;
    }

  }

  .btn-primary {
    background: $blue;

    &:focus,
    &:hover {
      background: lighten($blue, 16%);
    }

  }

  .btn-secondary {
    border-color: $blue;
    color: $blue;

    &:focus,
    &:hover {
      border-color: lighten($blue, 16%);
      color: lighten($blue, 16%);
    }

  }

  .btn-hero {
    border-color: $blue;
    color: $blue;

    &:focus,
    &:hover {
      background: $blue;
      color: $black;
    }

  }

  [data-input="text"],
  [data-input="number"],
  [data-input="select"] {

    .input-field {

      &:focus,
      &:hover {
        ~ .input-field-label,
        ~ .input-field-helper {
          color: $blue;
        }

      }

      &:focus {
        outline-color: $blue;
      }

    }

  }

  [data-input="select"] {

    .input-field:not(:disabled) {

      &:focus,
      &:hover {

        ~ .input-field-icon {
          border-right-color: $blue;
          border-bottom-color: $blue;
        }

      }

    }

  }

  [data-input="checkbox"],
  [data-input="radio"] {

    .input-field {

      &:focus,
      &:hover {

        ~ .input-field-icon {

          &:after {
            background: $blue;
          }

        }

      }

      &:checked {

        ~ .input-field-icon {
          border-color: $blue;

          &:after {
            background: $blue;
          }

        }

      }

    }

  }

}

[site-theme="green"] {

  .logo {
    filter: hue-rotate(80deg);
  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link {

    &:focus {
      outline-color: $green;
    }

    &[aria-current] {
      color: $green;
    }

  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link,
  a[class=""],
  .link-utility {

    &:focus,
    &:hover {
      color: lighten($green, 16%);
    }

  }

  .nav-utility-dm {

    &[data-mode="enabled"] {
      background: $green;
    }

  }

  .header-menu,
  .nav-utility-link,
  .block-defined,
  .card-title,
  .dice-result,
  .hero-title,
  .panel-nav-count,
  .monster-subplate,
  .init-roll,
  .spell-name,
  a[class=""],
  .link-utility {
    color: $green;
  }

  .character-storage-name,
  .footer {
    color: lighten($green, 16%);
  }

  .panel-nav-tab,
  .tab {

    &:focus,
    &:hover {
      border-color: lighten($green, 16%);
    }

    &[aria-selected="true"],
    &[tab-active] {
      border-color: $green;
      color: $green;
    }

  }

  [card-type="showcase"] {
    border-top-color: $green;
  }

  .monster-stats-container {

    strong {
      color: lighten($green, 16%);
    }

  }

  .monster-xp {
    background: $green;
  }

  .init-roll {
    border-color: $green;
  }

  [class*="btn"] {

    &:focus {
      outline-color: $green;
    }

  }

  .btn-primary {
    background: $green;

    &:focus,
    &:hover {
      background: lighten($green, 16%);
    }

  }

  .btn-secondary {
    border-color: $green;
    color: $green;

    &:focus,
    &:hover {
      border-color: lighten($green, 16%);
      color: lighten($green, 16%);
    }

  }

  .btn-hero {
    border-color: $green;
    color: $green;

    &:focus,
    &:hover {
      background: $green;
      color: $black;
    }

  }

  [data-input="text"],
  [data-input="number"],
  [data-input="select"] {

    .input-field {

      &:focus,
      &:hover {
        ~ .input-field-label,
        ~ .input-field-helper {
          color: $green;
        }

      }

      &:focus {
        outline-color: $green;
      }

    }

  }

  [data-input="select"] {

    .input-field:not(:disabled) {

      &:focus,
      &:hover {

        ~ .input-field-icon {
          border-right-color: $green;
          border-bottom-color: $green;
        }

      }

    }

  }

  [data-input="checkbox"],
  [data-input="radio"] {

    .input-field {

      &:focus,
      &:hover {

        ~ .input-field-icon {

          &:after {
            background: $green;
          }

        }

      }

      &:checked {

        ~ .input-field-icon {
          border-color: $green;

          &:after {
            background: $green;
          }

        }

      }

    }

  }

}

[site-theme="orange"] {

  .header-menu,
  .nav-primary-link,
  .nav-utility-link {

    &:focus {
      outline-color: $orange;
    }

    &[aria-current] {
      color: $orange;
    }

  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link,
  a[class=""],
  .link-utility {

    &:focus,
    &:hover {
      color: lighten($orange, 16%);
    }

  }

  .nav-utility-dm {

    &[data-mode="enabled"] {
      background: $orange;
    }

  }

  .header-menu,
  .nav-utility-link,
  .block-defined,
  .card-title,
  .dice-result,
  .hero-title,
  .panel-nav-count,
  .monster-subplate,
  .init-roll,
  .spell-name,
  a[class=""],
  .link-utility {
    color: $orange;
  }

  .character-storage-name,
  .footer {
    color: lighten($orange, 16%);
  }

  .panel-nav-tab,
  .tab {

    &:focus,
    &:hover {
      border-color: lighten($orange, 16%);
    }

    &[aria-selected="true"],
    &[tab-active] {
      border-color: $orange;
      color: $orange;
    }

  }

  [card-type="showcase"] {
    border-top-color: $orange;
  }

  .monster-stats-container {

    strong {
      color: lighten($orange, 16%);
    }

  }

  .monster-xp {
    background: $orange;
  }

  .init-roll {
    border-color: $orange;
  }

  [class*="btn"] {

    &:focus {
      outline-color: $orange;
    }

  }

  .btn-primary {
    background: $orange;

    &:focus,
    &:hover {
      background: lighten($orange, 16%);
    }

  }

  .btn-secondary {
    border-color: $orange;
    color: $orange;

    &:focus,
    &:hover {
      border-color: lighten($orange, 16%);
      color: lighten($orange, 16%);
    }

  }

  .btn-hero {
    border-color: $orange;
    color: $orange;

    &:focus,
    &:hover {
      background: $orange;
      color: $black;
    }

  }

  [data-input="text"],
  [data-input="number"],
  [data-input="select"] {

    .input-field {

      &:focus,
      &:hover {
        ~ .input-field-label,
        ~ .input-field-helper {
          color: $orange;
        }

      }

      &:focus {
        outline-color: $orange;
      }

    }

  }

  [data-input="select"] {

    .input-field:not(:disabled) {

      &:focus,
      &:hover {

        ~ .input-field-icon {
          border-right-color: $orange;
          border-bottom-color: $orange;
        }

      }

    }

  }

  [data-input="checkbox"],
  [data-input="radio"] {

    .input-field {

      &:focus,
      &:hover {

        ~ .input-field-icon {

          &:after {
            background: $orange;
          }

        }

      }

      &:checked {

        ~ .input-field-icon {
          border-color: $orange;

          &:after {
            background: $orange;
          }

        }

      }

    }

  }

}

[site-theme="purple"] {

  .logo {
    filter: hue-rotate(210deg);
  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link {

    &:focus {
      outline-color: $purple;
    }

    &[aria-current] {
      color: $purple;
    }

  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link,
  a[class=""],
  .link-utility {

    &:focus,
    &:hover {
      color: lighten($purple, 16%);
    }

  }

  .nav-utility-dm {

    &[data-mode="enabled"] {
      background: $purple;
    }

  }

  .header-menu,
  .nav-utility-link,
  .block-defined,
  .card-title,
  .dice-result,
  .hero-title,
  .panel-nav-count,
  .monster-subplate,
  .init-roll,
  .spell-name,
  a[class=""],
  .link-utility {
    color: $purple;
  }

  .character-storage-name,
  .footer {
    color: lighten($purple, 16%);
  }

  .panel-nav-tab,
  .tab {

    &:focus,
    &:hover {
      border-color: lighten($purple, 16%);
    }

    &[aria-selected="true"],
    &[tab-active] {
      border-color: $purple;
      color: $purple;
    }

  }

  [card-type="showcase"] {
    border-top-color: $purple;
  }

  .monster-stats-container {

    strong {
      color: lighten($purple, 16%);
    }

  }

  .monster-xp {
    background: $purple;
  }

  .init-roll {
    border-color: $purple;
  }

  [class*="btn"] {

    &:focus {
      outline-color: $purple;
    }

  }

  .btn-primary {
    background: $purple;

    &:focus,
    &:hover {
      background: lighten($purple, 16%);
    }

  }

  .btn-secondary {
    border-color: $purple;
    color: $purple;

    &:focus,
    &:hover {
      border-color: lighten($purple, 16%);
      color: lighten($purple, 16%);
    }

  }

  .btn-hero {
    border-color: $purple;
    color: $purple;

    &:focus,
    &:hover {
      background: $purple;
      color: $black;
    }

  }

  [data-input="text"],
  [data-input="number"],
  [data-input="select"] {

    .input-field {

      &:focus,
      &:hover {
        ~ .input-field-label,
        ~ .input-field-helper {
          color: $purple;
        }

      }

      &:focus {
        outline-color: $purple;
      }

    }

  }

  [data-input="select"] {

    .input-field:not(:disabled) {

      &:focus,
      &:hover {

        ~ .input-field-icon {
          border-right-color: $purple;
          border-bottom-color: $purple;
        }

      }

    }

  }

  [data-input="checkbox"],
  [data-input="radio"] {

    .input-field {

      &:focus,
      &:hover {

        ~ .input-field-icon {

          &:after {
            background: $purple;
          }

        }

      }

      &:checked {

        ~ .input-field-icon {
          border-color: $purple;

          &:after {
            background: $purple;
          }

        }

      }

    }

  }

}

[site-theme="red"] {

  .logo {
    filter: hue-rotate(-40deg);
  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link {

    &:focus {
      outline-color: $red;
    }

    &[aria-current] {
      color: $red;
    }

  }

  .header-menu,
  .nav-primary-link,
  .nav-utility-link,
  a[class=""],
  .link-utility {

    &:focus,
    &:hover {
      color: lighten($red, 16%);
    }

  }

  .nav-utility-dm {

    &[data-mode="enabled"] {
      background: $red;
    }

  }

  .header-menu,
  .nav-utility-link,
  .block-defined,
  .card-title,
  .dice-result,
  .hero-title,
  .panel-nav-count,
  .monster-subplate,
  .init-roll,
  .spell-name,
  a[class=""],
  .link-utility {
    color: $red;
  }

  .character-storage-name,
  .footer {
    color: lighten($red, 16%);
  }

  .panel-nav-tab,
  .tab {

    &:focus,
    &:hover {
      border-color: lighten($red, 16%);
    }

    &[aria-selected="true"],
    &[tab-active] {
      border-color: $red;
      color: $red;
    }

  }

  [card-type="showcase"] {
    border-top-color: $red;
  }

  .monster-stats-container {

    strong {
      color: lighten($red, 16%);
    }

  }

  .monster-xp {
    background: $red;
  }

  .init-roll {
    border-color: $red;
  }

  [class*="btn"] {

    &:focus {
      outline-color: $red;
    }

  }

  .btn-primary {
    background: $red;

    &:focus,
    &:hover {
      background: lighten($red, 16%);
    }

  }

  .btn-secondary {
    border-color: $red;
    color: $red;

    &:focus,
    &:hover {
      border-color: lighten($red, 16%);
      color: lighten($red, 16%);
    }

  }

  .btn-hero {
    border-color: $red;
    color: $red;

    &:focus,
    &:hover {
      background: $red;
      color: $black;
    }

  }

  [data-input="text"],
  [data-input="number"],
  [data-input="select"] {

    .input-field {

      &:focus,
      &:hover {
        ~ .input-field-label,
        ~ .input-field-helper {
          color: $red;
        }

      }

      &:focus {
        outline-color: $red;
      }

    }

  }

  [data-input="select"] {

    .input-field:not(:disabled) {

      &:focus,
      &:hover {

        ~ .input-field-icon {
          border-right-color: $red;
          border-bottom-color: $red;
        }

      }

    }

  }

  [data-input="checkbox"],
  [data-input="radio"] {

    .input-field {

      &:focus,
      &:hover {

        ~ .input-field-icon {

          &:after {
            background: $red;
          }

        }

      }

      &:checked {

        ~ .input-field-icon {
          border-color: $red;

          &:after {
            background: $red;
          }

        }

      }

    }

  }

}
