// base
// -----------------------------------------------------------------------------
@import "./_base";

// reset
// -----------------------------------------------------------------------------
@import "./_reset";

// core
// -----------------------------------------------------------------------------
@import "./core/_buttons";
@import "./core/_spacing";
@import "./core/_typography";

body {
  background-image: url('../images/textures/texture-dirt.jpg');
  background-size: contain;
  color: $white;
}

[data-stop-scroll="true"] {
  overflow: hidden; // Y U NO WURC
}

.inner-html {

  p ~ p {
    margin-top: $space-8;
  }

}

// structure
// -----------------------------------------------------------------------------
@import "../components/copyright/_copyright";
@import "../components/grid/_grid";
@import "../components/section/_section";
@import "../components/wrapper/_wrapper";

// header + footer
// -----------------------------------------------------------------------------
@import "../components/header/_header";
@import "../components/footer/_footer";

// components
// -----------------------------------------------------------------------------
@import "../components/flyout/_flyout";
@import "../components/forms/_forms";
@import "../components/hero/_hero";
@import "../components/nav/_nav-utility";
@import "../components/table/_table";
@import "../components/tabs/_tabs";

// components : builder
// -----------------------------------------------------------------------------
@import "../components/builder/_builder";

// pages
// -----------------------------------------------------------------------------
@import "pages/_bestiary";
@import "pages/_feats";
@import "pages/_spells";
