[card-type] {
  position: relative;
}

[card-type="showcase"] {
  border-top: solid rem(2);
  border-bottom: solid rem(1) $secondary;

  .card-asset-container {

    &:after {
      content: "";
      background: linear-gradient(to top, rgba($primary, .88) 0%, rgba($primary, .16) 100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

  }

  .card-asset {
    filter: grayscale(100);
    opacity: .32;
  }

  .card-content-container {
    padding: $space-24;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  .card-title {
    @extend %black-letter;
    font-size: rem(16);
  }

  .card-copy {
    font-size: rem(14);
    margin-bottom: $space-8;
  }

  .card-cta {
    min-width: rem(120);
  }

}
