.header {
  background-color: $l-brown;
  background-image: url('../images/textures/texture-mud.jpg');
  background-size: cover;
  opacity: .88;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  @include shadow(1, 0, black);
}

.nav-primary {
  @include flex-center;
  height: $space-72;
}

.nav-primary-link {
  @extend %black-letter;
  @include flex-center;
  // @include text-gradient($white, $white);
  border-right: solid rem(1) rgba($l-brown, .48);
  color: $white;
  font-family: $serif;
  font-size: rem(14);
  font-weight: 700;
  outline: dashed rem(1) transparent;
  outline-offset: rem(-4);
  padding: 0 $space-24;
  text-align: center;
  text-decoration: none;
  height: 100%;
  @include shadow(0, 1, black);
  @include timing;

  &:not(:first-child) {
    border-left: solid rem(1) rgba($l-brown, .24);
  }

  &:focus {
    outline-color: $orange;
  }

  &:focus,
  &:hover {
    // @include text-gradient($orange-tint, $white);
    color: $orange-white;
  }

}

.nav-primary-logo {
  max-height: $space-48;
  position: relative;
  transition: inherit;
}
