.header {
  background-color: rgba($secondary, .80);
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  @include shadow(1, 0, black);

  .wrapper {
    @include flex-center;

    // media
    @include media($mq-desktop) {
      padding-left: $space-8;
    }
    @include media($mq-tablet-range) {
      padding-left: 0;
    }
    @include media($mq-mobile) {
      padding-left: 0;
    }

  }

}

// .header-logo {
//   max-height: $space-48;
//   position: relative;
//   transition: inherit;
// }

.header-menu,
.nav-primary-link {
  @extend %black-letter;
  font-family: $serif;
  font-size: rem(14);
  font-weight: 700;
  outline: dashed rem(1) transparent;
  outline-offset: rem(-1);

  &:focus {
    outline-color: $highlight;
  }

  .material-icons {
    vertical-align: bottom;
  }

}

.header-menu {
  color: $highlight;

  &:focus,
  &:hover {
    color: lighten($highlight, 16%);
  }

  // media
  @include media($mq-tablet-up) {
    padding: $space-12 $space-24;
  }
  @include media($mq-mobile) {
    padding: $space-12 $space-16;
  }

}

.nav-primary-link {
  display: block;
  color: $white;
  margin-bottom: rem(1);
  padding: $space-12 $space-24;

  &:focus,
  &:hover {
    color: lighten($highlight, 16%);
  }

  &[aria-current] {
    color: $highlight;
  }

}
