$black: #2e2e2e;
$white: #e0e0e0;

$d-gray: #131515;
$l-gray: lighten($d-gray, 8%);

$blue: #3090cf;
$green: #60cf60;
$orange: #cf9030;
$purple: #9090cf;
$red: #cf6060;

$primary: $d-gray;
$secondary: $l-gray;
