$mq-mobile: "(max-width: 767px)";
$mq-mobile-s: "(max-width: 320px)";
$mq-tablet-p: "(max-width: 768px)";
$mq-tablet-l: "(max-width: 1024px)";
$mq-tablet-range: "(min-width: 768px) and (max-width: 1024px)";
$mq-tablet-up: "(min-width: 768px)";
$mq-desktop: "(min-width: 1025px)";
$mq-desktop-s: "(min-width: 1366px)";
$mq-desktop-m: "(min-width: 1440px)";
$mq-desktop-l: "(min-width: 1600px)";
$mq-desktop-x: "(min-width: 1920px)";
