$space-4: rem(4);
$space-8: rem(8);
$space-12: rem(12);
$space-16: rem(16);
$space-24: rem(24);
$space-32: rem(32);
$space-40: rem(40);
$space-48: rem(48);
$space-56: rem(56);
$space-64: rem(64);
$space-72: rem(72);
$space-80: rem(80);
$space-88: rem(88);
$space-96: rem(96);
