.footer {
  background-color: $primary;
  // background-image: url('../images/textures/texture-mud.jpg');
  background-size: 100% auto;
  border-top: solid rem(1) $primary;
  color: lighten($highlight, 16%);
  font-size: rem(12);
  padding: 4vh $space-32;
  text-align: center;
}
