.section-copyright {

  .wrapper {

    // media
    @include media($mq-tablet-up) {
      @include flex-center("true", "true");
    }

  }

}

.paizo-logo {
  margin: 0 auto;
  max-width: rem(256);
}

.paizo-copyright {
  color: lighten($highlight, 16%);
  font-size: rem(12);

  // media
  @include media($mq-tablet-up) {
    padding-left: $space-32;
  }
  @include media($mq-mobile) {
    margin-top: $space-32;
  }

}
