.table-container {

  // media
  @include media($mq-mobile) {
    overflow-x: auto;
  }

}

.table {

  // media
  @include media($mq-tablet-up) {
    width: 100%;
  }
  @include media($mq-mobile) {
    width: 200vw;
  }

}

.table-info {
  font-size: rem(14);
}

.table-row {

  // :not(:first-child) {
  //   text-align: center;
  // }

  &:nth-child(even) {
    background: rgba(black, .24);
  }

}

.table-heading {
  font-weight: 700;
}

.table-col {
  padding: $space-8;

  &.small {
    width: 8%;
  }

  &.medium {
    width: 16%;
  }

  &.large {
    width: 34%;
  }

}
