@mixin appearance($a: none) {
  appearance: $a;
  -webkit-appearance: $a;
}

@mixin text-gradient($c1, $c2) {
  background: -webkit-linear-gradient($c1, $c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
