.input-field-container {
  margin-top: $space-4;
  padding-top: $space-12;
  position: relative;
  z-index: 1;
}

.input-field-label { order: 1; }
.input-field-helper { order: 3; }

[data-input="text"],
[data-input="number"],
[data-input="select"] {
  display: flex;
  flex-direction: column;

  .input-field {
    background: transparent;
    border: solid rem(1) $l-brown;
    color: $white;
    display: block;
    padding: 0 $space-12;
    line-height: $space-40;
    height: $space-40;
    outline: dashed rem(1) transparent;
    outline-offset: rem(-4);
    order: 2;
    width: 100%;
    position: relative;
    z-index: 1;

    &:focus,
    &:hover {

      ~ .input-field-label,
      ~ .input-field-helper {
        color: $orange;
      }

    }

    &:focus {
      outline-color: $orange;
    }

    &:disabled {
      background: rgba(black, .24);
      cursor: default;

      &:focus,
      &:hover {

        ~ .input-field-label,
        ~ .input-field-helper {
          color: $white;
        }

      }

    }

  }

  .input-field-label,
  .input-field-helper {
    font-size: rem(12);
    font-weight: 700;
    padding: rem(3) $space-4;
    position: absolute;
    top: 0;
    left: rem(9);
    z-index: 2;
    @include timing;

    &:before {
      content: "";
      background-image: url('../images/textures/texture-dirt.jpg');
      background-position: center center;
      height: rem(1);
      width: 100%;
      position: absolute;
      top: 12px;
      left: 0;
      z-index: -1;
    }

  }

}

[data-input="number"] {

  .input-field {
    padding-right: 0;
  }

}

[data-input="select"] {

  option,
  optgroup {
    background: $white;
    color: $black;
    text-transform: capitalize;
  }

}

[data-input="checkbox"],
[data-input="radio"] {

  .input-field {

    &:focus,
    &:hover {

      ~ .input-field-icon {

        &:after {
          background: $l-brown;
        }

      }

    }

    &:checked {

      ~ .input-field-icon {
        border-color: $orange;

        &:after {
          background: $orange;
        }

      }

    }

  }

  .input-field-label {
    cursor: pointer;
    font-weight: 700;
    padding-left: $space-32;
  }

  .input-field-icon {
    border: solid rem(2) $l-brown;
    height: rem(18);
    width: rem(18);
    pointer-events: none;
    position: absolute;
    top: calc(50% + 5px);
    left: 0;
    transform: translate(0, -50%);
    z-index: -1;
    @include timing;

    &:after {
      content: "";
      background: transparent;
      height: $space-8;
      width: $space-8;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include timing;
    }

  }

}

[data-srt="false"] {

  ~ .input-field-helper {
    right: $space-16;
    left: auto;
  }

}
